h1 {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

h2{
}

body {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #fff8e1;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #000000;
}

tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.menu {
    text-align: left;
}

.drink {
    color: green;
}

.map {
    color:#12beeb;
}

img {
    width: 60%;
    height: auto
}
